* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.flex-container {
    display: flex;
}

.boxed {
    margin: 0 auto;
    width: 80%;
}

.bg-org {
    background-color: darkorange;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.navbar {
    color: white;

    padding: 1em;
    justify-content: space-between;
}

.categories {
    width: 33%;
}

.donna,
.uomini,
.bambini {
    width: 20%;
    font-size: larger;
}

.logo {
    width: 33%;
    justify-content: center;
}

.logo>img {
    width: 33%;
}

.mini-navbar {
    width: 33%;
    justify-content: flex-end;
}

main {
    background-color: white;
}

.cards-flex {
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-margin {
    margin-top: 7em;

}



.card {
    margin-bottom: 5em ;
    width: 32%;
    position: relative;
}

.bg-black {
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    z-index: 1;
}

.flex-footer {
    justify-content: space-between;
}

.footer-space {
    padding: 1em 0;
}

.footer-space2 {
    padding: 0.5em 0;
}

.prices {
    width: 36%;
    justify-content: space-between;

}

.actual-price {
    color: red;
    font-size: large;
}

.before-price {
    text-decoration: line-through;
    font-size: large;
}

.heart {
    font-size: 30px;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 4;
}
.heart:hover {
    color: red;
}

.sale {
    color: white;
    background-color: red;
    padding: 0.5em 1em;

}

.sostenibilita {
    color: white;
    background-color: forestgreen;
    padding: 0.5em 1em;
    position: relative;
    left: 5px;
}

.label {
    position: absolute;
    bottom: 150px;
    left: 0;
    z-index: 4;
}
.image-1 {
    width: 100%;
    position: relative;
    z-index: 2;
    
}
.image-1b {
    background-color: white;
    width: 100%;
}
.image-1b-position {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.card-image:hover .image-1 {
    z-index: 0;
}
.information {
    font-size: small;
    justify-content: space-between;
}
.info-legal, .info-privacy, .withdraw {
    padding-right: 1em;
}
